{% extends 'base.html.twig' %}

{% block title %}Add Article{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.category) }}
    {{ form_row(form.tags) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}
