{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>All articles for this category : </h1>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.id }} - Category : {{ name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>
{% endblock %}