{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>All articles for this category : </h1>
    {% for article in articles %}
        <ul>
            <li>{{ loop.index }} / {{ article.id }} - <a
                        href="{{ path('article_show', {'id': article.id }) }}"> {{ article.title }}</a></li>
        </ul>
    {% endfor %}
    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>
{% endblock %}