{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>All articles for this tag : </h1>
    {% for article in articles %}
        <div>
            <h2> tag : {{ tag.name }}</h2>
            <h3>{{ loop.index }} - {{ article.title }}</h3>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>
{% endblock %}